.navbar {
    background-color: #535353; /* Set background color */
    color: #000000; /* Set text color */
    padding: 10px 0; /* Add some padding */
  }
  
  .navbar-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    max-width: 1440px; /* Set max width */
    margin: 0 auto; /* Center the navbar */
    padding: 0 20px; /* Add padding */
    color: #242424; /* Set text color */
  }
  
  .navbar-logo {
    color: #272727; /* Set text color */
    text-decoration: none; /* Remove underline */
    font-size: 24px; /* Set font size */
  }
  
  .navbar-menu {
    list-style: none; /* Remove list bullet points */
    display: flex; /* Use flexbox for layout */
    color: #0f0f0f; /* Set text color */
  }
  
  .navbar-button {
    margin-right: 20px; /* Add margin between items */
    color: #030303; /* Set text color */
  }
  
  .navbar-link {
    color: rgb(53, 53, 53)e2e; /* Set text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Set font size */
  }
  
  .navbar-link:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  