#root {
  height: 720px;
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex; /* Add flex display */
  /* align-items: center; Align items vertically */
  justify-content: center; /* Align items horizontally */
}

.app {
  flex-grow: 1; /* Fill available space */
  max-width: 1280px;
  max-height: 720px;
}

